body {
	font-family: -apple-system, BlinkMacSystemFont, "Nunito", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/*background: linear-gradient(180deg, rgba(220, 255, 255, 0.32) 0%, rgba(250, 219, 255, 0.5) 99.99%, rgba(212, 156, 255, 0.33) 100%); */
	background: rgb(243, 243, 243);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
